transformers
taming-transformers
diffusers
xformers==0.0.27post1
triton
accelerate
pytorch_lightning
einops
open-clip-torch
omegaconf
torchmetrics
opencv-python-headless
scipy
matplotlib
lpips
gradio==3.24.0
chardet
facexlib
pyiqa
pydantic==1.10.11
ollama